

.adImange-content {
  background-image: url("https://img-c.udemycdn.com/notices/web_banner/slide_2_image_udlite/e6cc1a30-2dec-4dc5-b0f2-c5b656909d5b.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  .adImange-content1 {
    width: 40%;
    position: relative;

    .adImange-content1-offerDiv {
      position: absolute;
      height: 240px;
      background: white;
      left: 30%;
      bottom: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      h1 {
        font-size: 24px;
        margin: 16px 0;
      }
      p {
        font-size: 16px;
        margin: 16px 0;
      }
    }
  }
}

.adImange-content2 {
  background: url("https://wowslider.com/sliders/demo-77/data1/images/road220058.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  .adImange-content2-bg {
    width: 40%;
    position: relative;

    .adImange-content2-offerDiv {
      position: absolute;
      height: 240px;
      background: white;
      left: 30%;
      bottom: 20%;

      h1 {
        font-size: 24px;
        margin: 16px 0;
      }
      p {
        font-size: 16px;
        margin: 16px 0;
        padding: 8px;
      }
      .adImange-content2-BarDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        .adImange-content2-BarDiv-button {
          background-color: #0f7c90;
          color: white;
          border-color: #0f7c90;
          border-radius: 5px;
          font-size: 16px;
          font-weight: bold;
          border: 1px solid;
          height: 48px;
          width: 148px;
          cursor: pointer;
        }
      }
    }
  }
}


.slick-arrow{
  display: none !important; 
}


@media screen and (max-width: 700px) {
  .adImange-content,
  .adImange-content2{
    background-position: center;
    background-size: cover;
  }

  .adImange-content1-offerDiv,
  .adImange-content2-offerDiv{
    width: 340px;
  }
}