.featureDiv1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0px;
  border-bottom: 1px solid rgb(216, 216, 216);

  .featureDiv1-item {
    h1 {
      font-size: 16px;
    }
    p {
      font-weight: 250;
      font-size: 16px;
    }
  }
}


