.featureCard {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .iconDiv {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border-radius: 50px;
    background-color: #f2fbfc;
    color: #0f7c90;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .icon {
    transform: scale(0.8);
    font-size: 40px;
  }
  .aboutDiv {
    text-align: left;
    color: #3c3b37;
    line-height: 1.4;
  }
  h4 {
    margin-bottom: 5px;
    font-size: 16px;
  }
  p {
    color: #494843;
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .aboutDiv h4,
  .aboutDiv p{
    font-size: medium;
    width: 100px;
  }
}