.courseList {
  margin: 0 auto;
  padding: 8px 0;
}

.courseCategory {
  width: 100%;
  margin: auto;
  padding-bottom: 0.5rem;
}

.courseCategoryList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
